<%= render 'refinery/admin/search_header', :url => refinery.signups_admin_signups_path %>
<% if searching? %>
  <% if @signups.any? %>
    <ul>
      <%= render :partial => 'signup', :collection => @signups %>
    </ul>
  <% else %>
    <p><%= t('no_results', :scope => 'refinery.admin.search') %></p>
  <% end %>
<% else %>
  <% if @grouped_signups.any? -%>
    <% @grouped_signups.each do |container| %>
      <h3><%= l((signup_group = container.last).first.created_at, :format => :short) %></h3>
      <ul>
        <%= render :partial => 'signup', :collection => signup_group %>
      </ul>
    <% end %>
  <% else -%>
    <p>
      <strong><%= t('no_signups', :scope => 'refinery.signups.admin.signups.index') %></strong>
    </p>
  <% end -%>
<% end %>
