<div id='actions'>
  <ul>
    <% if ::Refinery::Signups::Admin::SignupsController.searchable? %>
      <li>
        <%= render '/refinery/admin/search', :url => refinery.signups_admin_signups_path %>
      </li>
    <% end %>
    <li <%= "class='selected'" if params[:action] == "index" %>>
      <%= link_to t('.inbox'), refinery.signups_admin_signups_path, :class => "email_icon" %>
    </li>
    <li>
      <%= link_to t('.update_notified'),
                    refinery.edit_signups_admin_setting_path(:signup_notification_recipients, :dialog => true, :height => 300),
                    :class => "user_comment_icon" %>
    </li>
    <li>
      <%= link_to t('.edit_confirmation_email'),
                  refinery.edit_signups_admin_setting_path(:signup_confirmation_body, :dialog => true),
                  :class => "edit_email_icon" %>
    </li>
  </ul>
</div>
